.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(180deg, var(--verde-agua) 10%, var(--azul-escuro) 90%);
}

.footer img {
    max-width: 400px;
}

.footer div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    color: white;
    font-size: 0.9rem;
}

#map {
    width: 480px;
    height: 200px;
    border: 0;
}

@media (max-width:965px) {
    .footer img {
        max-width: 250px;
    }

    .footer div:first-child {
        max-width: 250px;
        font-size: 0.8rem;
    }

    #map {
        width: 250px;
        height: auto;
    }
}

@media (max-width: 550px) {
    .footer div:first-child {
        max-width: 200px;
    }

    #map {
        width: 150px;
        height: auto;
    }
}