.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
    /* min-height: 150px; */
    background: linear-gradient(180deg, var(--verde-agua) 10%, var(--azul-escuro) 90%);
}

.footer img {
    max-width: 400px;
}

.footer div:first-child {
    max-width: 400px;
    color: white;
    font-size: 0.9rem;
}