* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cinza: #4D5052;
    --verde-agua: #03B2B2;
    --verde: #07807C;
    --azul-claro: #1B5AAA;
    --azul-escuro: #0F4477;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.header {
    min-height: 150px;
}

.content {
    padding: 20px 10px;
}

h2 {
    color: var(--azul-claro);
    padding-bottom: 5px;
}

@media (max-width:965px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}