.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    padding-top: 20px;
}

table,
table tr,
table th {
    border: 1px solid var(--azul-escuro);
    padding: 2px;
}

table th {
    padding: 5px;
}

.atendimento,
.contato {
    padding: 50px 10px;
}

.contato-cards a {
    display: flex;
    text-decoration: none;
    color: var(--azul-escuro);
}

.contato-cards a:hover {
    color: var(--azul-claro);
}

.contato-cards a span {
    padding: 5px;
}