.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    padding: 20px 20px 0 0;
}

.header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%),
        url(../assets/img/Novo-Projeto-8-1-4.png) no-repeat center/cover fixed;
    width: 100%;
    height: 400px;
    align-content: center;
    justify-content: center;
}

.header p {
    padding-left: 20px;
}

.text-bold-lg,
.text-lg {
    color: var(--azul-claro);
    font-size: 2rem;
    font-weight: 600;
}

.text-bold-lg {
    font-weight: 900;
}

.text-p {
    color: var(--cinza);
    font-size: 1.2rem;
}

table,
table tr,
table th {
    border: 1px solid var(--azul-claro);
    padding: 2px;
}

table {
    background-color: var(--azul-claro);
}

table th {
    padding: 5px;
    background-color: white;
}

.atendimento,
.contato {
    padding: 50px 10px;
}

.contato-cards a {
    display: flex;
    text-decoration: none;
    color: var(--azul-escuro);
}

.contato-cards a:hover {
    color: var(--azul-claro);
}

.contato-cards a span {
    padding: 5px;
}